/* Universal Styles */

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: white;
}

.center, .section-title, .section-desc {
    text-align: center;
}

main {
    position: relative;
    top: 120px;
}

img {
    max-width: 200px;
}

section {
    margin-bottom: 5rem;
}

/* Header */

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    border-bottom: solid 1px #c6c1c1;
    background-color: white;
    top: 0px;
}

header .nav-list {
    display: flex;
    justify-content: space-evenly;
}

header ul {
    list-style: none;
}

header li {
    padding: 0 2.5rem;
}
  
header a {
    text-decoration: none;
}






/* Top Section */

.top-content {
    background-image: url("https://content.codecademy.com/PRO/independent-practice-projects/flexbox-business-site/img/skyscrapers.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 15rem;
}

.top-content div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.flex-content {
    background-color: white;
    margin-top: 4rem;
}

.flex-content h2, .flex-content h3 {
    margin: 0.5rem 0;
}

/* Middle Section */

.horizontal-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0.75rem;
}

.image-card {
    display: flex;
    min-width: 25rem;
    margin-top: 1.25rem;
}

.card-name {
    margin: auto;
}

/* Footer */

footer {
    padding-top: 120px;
}